.main__header {
    width: 100vw;
    height: calc(100vh + 3rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.main__header-container {
    height: 100%;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 10.5px);
    -webkit-backdrop-filter: blur( 10.5px);
    border-radius: 10px;
    border: 0px solid rgba( 255, 255, 255, 0.18);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    margin-top: 6rem !important;
}

.main__header-right,
.main__header-left {
    padding: 0 2rem;
    margin-top: -8rem;
}

.main__header-right {}

.main__header-right h2 {
    margin-bottom: 1rem;
    color: #EEE8AA;
    font-weight: 400;
}

.main__header-right h2:nth-child(2) {
    margin-bottom: 3.5rem;
}

.main__header-right h4 {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.main__header-right p {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.main__header-left {
    display: grid;
    place-items: center;
    position: relative;
}

.main__header-circle {
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg, var(--color-secondary), transparent);
    border-radius: 50%;
    position: absolute;
    transition: var(--transition);
}

.main__header-image {
    position: relative;
}

.main__header-left:hover .main__header-circle {
    filter: blur(0.6px);
}