.values {
    width: 100vw;
    height: calc(100vh + 3rem);
    /* display: flex; */
    place-items: center;
}

.values__container {
    height: 100%;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 10.5px);
    -webkit-backdrop-filter: blur( 10.5px);
    border-radius: 10px;
    border: 0px solid rgba( 255, 255, 255, 0.18);
    overflow: hidden;
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
    margin-top: 8rem !important;
}

.values__image {
    filter: saturate(0.25);
    transition: var(--transition);
}

.values__image:hover {
    filter: saturate(1);
}

.values__right>p {
    margin: 1.5rem 0 5rem;
}

.values__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
    margin-top: -2rem;
}

.card.values__value {
    padding: 1.5rem;
    text-align: right;
    position: relative;
}

.card.values__value span {
    position: absolute;
    top: -2rem;
}

.values__right {
    margin: 0.5rem 2rem 0 0rem;
    grid-column: 1;
}

.values__left {
    margin: 3rem 0rem 0rem 3rem;
    border-radius: 0rem 3rem 0rem 3rem;
    grid-column: 2;
}

.values__image {
    border-radius: 0rem 3rem 0rem 3rem;
}

.values__left img {
    border-radius: 0rem 6rem 0rem 6rem;
    padding-top: 3rem;
}
/* MEDIA QUERIES (medium screens)*/
@media screen and (max-width: 1180px) {
    /* Values */
    .values {
        margin-top: -6rem;
    }
    .values__container {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 4rem;
        max-height: 40rem;
    }
    .values__wrapper {
        gap: 4rem 3rem;
    }
    .values__image {
        display: none;
    }
    

}