/* IMPORT GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Changa:wght@200;300;400;600&family=Open+Sans:wght@300;400;500;600&display=swap');

/* RESETER STYLE */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* ROOT */

:root {
    --primary-hue: 105;
    --gray-hue: 240;
    --color-primary: hsl(var(--primary-hue), 55%, 96%);
    --color-secondary: #A8DADC;
    --color-gray-100: hsl(var(--gray-hue), 11%, 14%);
    --color-gray-200: hsl(var(--gray-hue), 3%, 10%);
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --transition: all 500ms ease;
}


/* GENERAL STYLE */

body {
    background: #bbd2c5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bbd2c5, #536976);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bbd2c5, #536976);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Cairo', 'Changa', 'Open Sans', sans-serif;
    color: var(--color-gray-200);
    line-height: 1.7;
    overflow-x: hidden;
}

.container {
    width: var(--container-width-lg) !important;
    max-width: 1920px;
    margin: 0 auto;
    margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
    color: var(--color-gray-100);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: snow;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.btn-g {
    color: #EEE8AA;
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background: #00BFFF;
    border-radius: 1.8rem;
    transition: var(--transition);
}

.btn-g:hover {
    background: #EEE8AA;
    color: #00BFFF;
}

.btn-g.lg {
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}

.btn-g.sm {
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
}

section {
    /* margin-top: 10rem; */
}

.section__head {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-top: 4rem;
}

.section__head span {
    background: rgba( 255, 255, 255, 0.18);
    padding: 0.9rem;
    border-radius: 1rem;
    color: gold;
    font-size: 1.5rem;
}

.card {
    background: rgba( 255, 255, 255, 0.18);
    border: 2px solid transparent;
    text-align: center;
    padding: 2rem 3rem;
    border-radius: 0 3rem 0 3rem;
    transition: var(--transition);
}

.card:hover {
    background: transparent;
    border-color: var(--color-gray-200);
    cursor: default;
}

.card span {
    width: 3rem;
    height: 3rem;
    background: var(--color-secondary);
    color: var(--color-gray-100);
    font-size: 1.5rem;
    padding: 0.8rem;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    transition: var(--transition);
}

.card:hover span {
    background: yellow;
    color: #536976;
}

.card small {
    margin-top: 1rem;
    display: block;
    font-weight: 300;
}

/* MEDIA QUERIES (medium screens)*/
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md) !important;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    .section__head {
        margin-top: 2rem;
    }
   
    
}

/* MEDIA QUERIES (medium screens)*/
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-md) !important;

    }
    h1 {
        font-size: 2.2rem;
        line-height: 1.3;
    }

}